<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>エラー</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="data:image/x-icon;,">
</head>

<body class="bg-gray-100 text-gray-900 flex justify-center items-center h-screen">
    <div class="container text-center">
        <div class="bg-red-500 text-white p-6 rounded-lg shadow-lg">
            <h1 class="text-2xl font-bold mb-4">エラーが発生しました</h1>
            <p>{{.error}}</p>
            <br>
            <a href="/" class="btn btn-light mt-6 bg-white text-red-500 px-4 py-2 rounded">ホームに戻る</a>
        </div>
    </div>
</body>

</html>