<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>エラー</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light text-dark d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container text-center">
        <div class="alert alert-danger" role="alert">
            <h1 class="alert-heading">エラーが発生しました</h1>
            <p>{{.error}}</p>
            <a href="/" class="btn btn-light mt-3">ホームに戻る</a>
        </div>
    </div>
</body>

</html>