<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポケマッチ</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/x-icon;,">
    <style>
        * {
            font-family: 'Press Start 2P', cursive;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <h1 class="text-center text-3xl font-bold my-4">{{ .title }}</h1>
        <p class="text-center mb-6">身長と体重を入力して、近しいポケモンを見つけましょう！</p>
        <form id="searchForm" method="get" action="/result" class="bg-white p-6 rounded-lg shadow-md">
            <div class="mb-4">
                <label for="height" class="block text-gray-700">身長 (m)</label>
                <input type="number" step="0.1"
                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm" id="height"
                    name="height" placeholder="身長を入力">
            </div>
            <div class="mb-4">
                <label for="weight" class="block text-gray-700">体重 (kg)</label>
                <input type="number" step="0.1"
                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm" id="weight"
                    name="weight" placeholder="体重を入力">
            </div>
            <button type="submit"
                class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">検索</button>
        </form>
    </div>
</body>

</html>